<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<h1>All Users</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.accountStatus}"></td>
        <td>
            <a th:href="@{/users/update/{id}(id=${user.userId})}">Edit</a>
        </td>        
    </tr>
    </tbody>
</table>

</body>
</html>
