<!DOCTYPE html>

<html lang="en">
<head>
    <title> Medlink </title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="header">
    <div class="logo">
        <img src="images/logo-medlink.png" alt="Medlink" width="100" height="100"/>
    </div>
    <h1> <a href="Home.html"> Medlink </a> </h1>

    <div class="navbar">
        <ul>
            <li> <a href = "browse.html"> Browse </a></li>
            <li> <a href = "providerlogin.html"> Log In </a></li>
            <li> <a href = "form_for_provider.html"> Sign Up </a></li>
        </ul>
    </div>
</div>
<main class="main-container">
    <div class="signup-container">
        <h2>Please Verify That this Information Is Correct</h2>

        <form class="form-grid" action="success.html" method="GET">
            <div class="form-group">
                <p> Name: </p>

                <p>Joe Shmoe</p>
            </div>
            <div class="form-group">
                <p> Email: </p>

                <p>joeshmoeleezy458@gmail.com</p>
            </div>
            <div class="form-group">
                <p> Password: </p>

                <p>Imcool6158</p>
            </div>
            <div class="form-group">
                <p> Age: </p>

                <p>52</p>
            </div>
            <div class="form-group">
                <p> Universities Attended: </p>

                <p>University of North Carolina at Greensboro,
                    University of North Carolina at Chapel Hill,
                    Duke University</p>
            </div>
            <div class="form-group">
                <p> Date of Birth: </p>

                <p>04/14/1939</p>
            </div>
            <div class="form-group">
                <p> Years Practicing: </p>

                <p>15</p>
            </div>
            <div class="form-group">
                <p> Medical License Number: </p>

                <p>166584998</p>
            </div>

            <div class="form-group">
                <p> National Provider Identifier Number: </p>

                <p>1988561884</p>
            </div>

            <div class="form-group">
                <p> Description and Services You Would Like to Provide: </p>
                <p>I am one of the best doctors you will ever have, trust me.
                    I am the best neuroplastic cardiac surgeon you will ever meet in your life</p>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>
</main>
</body>
</html>